<li class="tweet">
	<a href="https://twitter.com/{{ tweet['user']['screen_name'] }}/status/{{ tweet['id_str'] }}" class="permalink" target="_blank">
		{{datetime.datetime.strftime(datetime.datetime.strptime(tweet['created_at'], '%a %b %d %H:%M:%S +0000 %Y'),
		'%H:%M')
		}}
	</a>

	<span class="header">
		<a href="https://twitter.com/{{ tweet['user']['screen_name'] }}" class="profile" target="_blank">
			<img class="avatar" src="{{ tweet['user']['profile_image_url'] }}" width="48" height="48" \>
			<span class="full-name">{{ tweet['user']['name'] }}</span>
			<span class="p-nickname">@{{ tweet['user']['screen_name'] }}</span>
		</a>
	</span>
	<div class="entry-content">
		<p class="entry-title">{% raw tweet['html'] %}</p>
		{% if 'retweeted_by' in tweet %}
		<div class="retweet-credit">
			<i class="ic-rt ic-mask"></i>Retweeted by <a href="https://twitter.com/{{ tweet['retweeted_by']['screen_name'] }}" class="profile" target="_blank" title="@{{ tweet['retweeted_by']['screen_name'] }} on Twitter">{{ tweet['retweeted_by']['name'] }}</a>
		</div>
		{% end %}
	</div>
	<div class="footer">
		<ul class="tweet-actions">
			<li><a href="https://twitter.com/intent/tweet?in_reply_to={{ tweet['id_str'] }}&amp;hashtags={{ room }}" title="Reply"><i class="ic-reply ic-mask"></i></a></li>
			<li><a href="https://twitter.com/intent/retweet?tweet_id={{ tweet['id_str'] }}" title="Retweet"><i class="ic-retweet ic-mask"></i></a></li>
			<li><a href="https://twitter.com/intent/tweet?text={{ url_escape('"' + '@' + tweet['user']['screen_name'] + ': ' + tweet['text'] + '"') }}" title="Quote"><img class="ic-quote" src="{{ static_url('img/quotes-icon.png') }}" /></a></li>
			<li><a href="https://twitter.com/intent/favorite?tweet_id={{ tweet['id_str'] }}" title="Favorite"><i class="ic-fav ic-mask"></i></a></li>
		</ul>
	</div>
</li>
